@use "../abstracts/breakpoints";
@use "../abstracts/variables";
/** 
 * Shame.
 *
 * Specificity overrides and poor code.
 */

.menu-toggle {
    display:none;
}
/* Header */
.menu-item-top-right-credit a {
    color: variables.$secondary-color !important;
    @include breakpoints.iphone {
        color: white !important;
    }
}
.header__mobile-contact-link a {
    background: variables.$primary-color;
    color: white !important;
    position: absolute;
    left: 0;
    display: inline-block;
    padding: 0.7rem 0.6rem !important;
    @include breakpoints.iphone {
        display:none;
        
    }
}
.header__mobile-contact-link a.active {
    background: variables.$secondary-color;
}
.header__mobile-contact-link a.active i {
    rotate: 45deg;
    vertical-align: middle;
}
.header__contact-details-active {
    display: block !important;
}
/* Google Reviews Widget */
.wp-gr:not(.wp-dark) .grw-review-inner.grw-backgnd {
    background: transparent !important;
}
.wp-gr.wpac .wp-google-name a {
    color: white !important;
}
.wp-gr .wp-google-based, .wp-gr .wp-google-powered {
    color: #666 !important;
}
/* Google Reviews Widget */

/* remove button on cart page */
.woocommerce .cart a.remove {
	color: #fff !important;
}
/* remove button on cart page */

/* Product page */
.single-product div.product .stock {
  font-size: .81em !important;
  color: #fff !important;
  background: variables.$primary-color;
  display: table-cell;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  @include breakpoints.iphone {
    width: auto;
    text-align: left;
  }
}
.single-product div.product .stock a {
    color: #fff !important;
    font-weight: 600;
}
.single-product .woocommerce-variation-price .price {
    color: variables.$primary-color !important;
    margin-bottom: 1rem;
    display: block;
    font-weight: 700;
}
.product-page__tabs-list.active {
    background: variables.$primary-color !important;
}
.shipping-address-form__hide.show {
        display: block !important;
}
.delivery-options-shipment__display-results {
    padding: 0.8rem 0.8rem !important;
}
.product-page__input-wrap.radius-show {
    display: block !important;
}
@media (max-width: 960px) {
    .product-page__tabs {
        background-image: unset !important;
    }
}
/* Product page */

/* Cart page */
.return-to-shop .button {
    color: white !important;
    background: variables.$secondary-color !important;
    padding: 0.8rem 1.5rem !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
}
.woocommerce-message a {
    margin-top: 0;
}
.page-id-9 {
    & th.product-remove {
        border-top: 0 !important;
    }
}    
/* Cart page */

@media screen and (max-width: 782px) {
    html #wpadminbar {
        height: 46px;
        min-width: 240px;
        position:fixed;
    }
}

/* shop/category filter */
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(1) {
   width: 295px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(2) {
   //width: 360px !important;
   width: 345px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(3) {
   width: 330px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(4) {
    width: 260px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(5) {
    width: 285px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(6) {
    width: 315px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(7) {
    width: 275px !important;
}
.woocommerce-shop .woof .woof_redraw_zone .woof_container:nth-child(8) {
    width: 245px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(1) {
    width: 295px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(2) {
    //width: 360px !important;
    width: 345px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(3) {
    width: 330px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(4) {
     width: 260px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(5) {
     width: 285px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(6) {
     width: 315px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(7) {
     width: 275px !important;
}
.woocommerce-page .woof .woof_redraw_zone .woof_container:nth-child(8) {
     width: 245px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(1) {
    width: 295px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(2) {
    //width: 360px !important;
    width: 345px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(3) {
    width: 330px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(4) {
     width: 260px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(5) {
     width: 285px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(6) {
     width: 315px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(7) {
     width: 275px !important;
}
.page-id-5149 .woof .woof_redraw_zone .woof_container:nth-child(8) {
     width: 245px !important;
}
.woof_products_top_panel li {
    margin-bottom: 0.5rem !important;
}
/* shop/category filter */