@use "../abstracts/breakpoints";
@use "../abstracts/variables";
/** 
 * Shame.
 *
 * Specificity overrides and poor code.
 */

.menu-toggle {
    display:none;
}
/* Header */
.menu-item-top-right-credit a {
    color: white !important;
}

/* Google Reviews Widget */
.wp-gr:not(.wp-dark) .grw-review-inner.grw-backgnd {
    background: transparent !important;
}
.wp-gr.wpac .wp-google-name a {
    color: white !important;
}
.wp-gr .wp-google-based, .wp-gr .wp-google-powered {
    color: #666 !important;
}
/* Google Reviews Widget */

/* remove button on cart page */
.woocommerce .cart a.remove {
	color: #fff !important;
}
/* remove button on cart page */

/* Product page */
.single-product div.product .stock {
  font-size: .81em !important;
  color: #fff !important;
  background: variables.$primary-color;
  display: table-cell;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 0;
  display: inline-block;
}
.single-product div.product .stock a {
    color: #fff !important;
    font-weight: 600;
}
.product-page__tabs-list.active {
    background: variables.$primary-color !important;
}
.shipping-address-form__hide.show {
        display: block !important;
}
.delivery-options-shipment__display-results {
    padding: 0.8rem 0.8rem !important;
}
/* Product page */

/* Cart page */
.return-to-shop .button {
    color: white !important;
    background: variables.$secondary-color !important;
    padding: 0.8rem 1.5rem !important;
    font-weight: 600 !important;
    border-radius: 0 !important;
}
/* Cart page */