@use "../abstracts/breakpoints";
@use "../abstracts/variables";


@import url('//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$body-font-family: "Poppins", sans-serif;
$footer-font-family: "Poppins", sans-serif;

$heading-font-family: inherit;

$primary-text-color: variables.$secondary-color;

$light-text: #ffffff;
$dark-text: #131313;

$heading-line-height: 2;
$body-line-height: 2;

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$heavy: 900;

body {
  font-family: $body-font-family;
  color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  font-family: $heading-font-family;
}

li,
textarea,
input,
label,
address {
  line-height: $body-line-height;
  color: $primary-text-color;
}

%h1 {
  padding: 1.5rem 0;
  font-size: 24px;
  @include breakpoints.tablet {
    padding: 2.5rem 0;
    font-size: 32px;
  }
  @include breakpoints.desktop {
    font-size: 54px;
  }
}

%h2 {
  padding: 1rem 0;
  font-size: 34px;
  @include breakpoints.tablet {
    padding: 0 0 0.5rem 0;
    font-size: 38px;
  }
  @include breakpoints.laptop {
    padding: 0 0 0.5rem 0;
    font-size: 44px;
  }
  @include breakpoints.desktop {
    font-size: 44px;
  }
}

%h3 {
  padding: 0.75rem 0;
  font-size: 19px;
  @include breakpoints.tablet {
    font-size: 35px;
    padding: 1rem 0;
  }
}

%h4 {
  padding: 0.5rem 0;
  font-size: 18px;
  @include breakpoints.tablet {
    font-size: 22.5px;
    padding: 0.75rem 0;
  }
}

%h5 {
  padding: 0.25rem 0;
  font-size: 17px;
  @include breakpoints.tablet {
    font-size: 20px;
    padding: 0.5rem 0;
  }
}

%h6 {
  font-size: 16px;
  padding: 0.25rem 0;
}

%p {
  font-size: 13.5px;
  padding: 0.5rem 0;
  @include breakpoints.laptop {
    font-size: 14px;
  }
  @include breakpoints.tablet {
    padding: 1rem 0;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  @extend %p;
  color: inherit;
  line-height: $body-line-height;
}
