@use "../abstracts/breakpoints";
@use "../abstracts/variables";
@use 'sass:color';

.page-id-9 {
    & .entry-header {
        display: none;
    }
    & .cart .product-name a {
        color: variables.$primary-color;
        font-weight: bold;
    }
    & .cart .product-name .variation .variation-WidthMM p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-LengthMM p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-Totalnumberofparts p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-DeliveryTime p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-SheetsRequired p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-DespatchNotes p {
        display: inline;
        padding: 0;
        line-height: 1rem;
    }
    & .cart .product-name .variation .variation-CustomerShippingWeights p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-BackorderNotice p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-PDFDrawing p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-DXFDrawing p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-Partshape p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-RadiusMM p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-ManufacturersCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-FirstArticleInspectionReport p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-MaterialsDirectCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-AddManufacturersCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-AddMaterialsDirectCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation dt {
        font-size: 0.88rem;
        margin-right: 0.5rem;
        font-weight: bold;
        line-height: 2rem;
    }
    & .cart .product-name .variation dt.variation-DespatchNotes {
        width: 100%;
        margin-bottom: -0.1rem;
    }
    & .cart .product-name .variation dd {
            margin: 0 0 -0.05rem 0;
    }
    & .global-shipping-address-title {
        font-size: 1.55rem;
    }
    & .global-shipping-address {
        margin-top: 20px;
    }
    & .global-shipping-address-list {
        padding: 0;
        line-height: 1.45rem;
        margin-top: -0.6rem;
    }
    & .cart_totals__shipment {
        padding: 0
    }
    & .cart_totals__shipment-details {
        padding: 0;
    }
    & .woocommerce-remove-coupon {
        display: none;
    }
    & .cart_totals h2 {
        font-size: 1.55rem;
    }
    & .woocommerce table.shop_table {
        font-size: 0.88rem;
    }
}

.woocommerce-cart th.product-price, .woocommerce-cart td.product-price, .woocommerce-cart th.product-quantity, .woocommerce-cart td.product-quantity {
  display: none;
}
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination {
    display: none;
}
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-calculator {
    display: none;
}
.woocommerce-cart-form .shop_table tbody tr:last-child {
  display: none;
}

// .woocommerce .shop_table .product-thumbnail a {
//   width: 120px;
// }
.woocommerce .shop_table .product-thumbnail a img {
  width: 120px;
}
.woocommerce .shop_table .product-thumbnail {
    max-width: 100px;
}
.woocommerce .shop_table .product-remove {
    max-width: 60px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    font-size: 1.12rem;
    padding: 0.9rem;
    background: variables.$secondary-color;
    font-weight: 400;
    transition: background 0.15s ease-in;
    border-radius: 0.3rem;
    margin-bottom: 2.7rem;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background: #1a2631;
    
}
.woocommerce .shop_table .product-remove a.remove {
    margin: 5px 25px 0 0;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 21px;
    font-weight: lighter;
    line-height: inherit;
    background: variables.$secondary-color;
    border-radius: 0;
    padding: 0.4rem 0.9rem;
}
.woocommerce table.shop_table .product-subtotal {
    width: 200px;
    text-align: center;
}
.return-to-shop {
    margin-bottom: 2rem;
}
