@use "../abstracts/breakpoints";
@use "../abstracts/variables";
@use 'sass:color';

.page-id-9 {
    & .site-main .entry-content .woocommerce .cart-collaterals .cart_totals .download-pdf-button {
        background: variables.$secondary-color;
        color: white;
        font-weight: 400;
        font-size: 0.85rem;
        padding: 1rem 1.2rem;
    }
    & .entry-header {
        display: none;
    }
    & .cart .product-name a {
        color: variables.$primary-color;
        font-weight: bold;
    }
    & .cart .product-name .variation .variation-WidthMM p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-LengthMM p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-RollLengthMetres p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-Totalnumberofrolls p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-Totalnumberofparts p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-DeliveryTime p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-SheetsRequired p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-DespatchNotes p {
        font-size: 0.84rem;
        display: inline;
        padding: 0;
        line-height: 1rem;
    }
    & .cart .product-name .variation .variation-CustomerShippingWeights p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-BackorderNotice p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-PDFDrawing p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-DXFDrawing p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-Partshape p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-RadiusMM p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-ConversionFactor p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-WidthINCHES p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-LengthINCHES p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-RadiusINCHES p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-ManufacturersCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-FirstArticleInspectionReport p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-MaterialsDirectCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-AddManufacturersCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation .variation-AddMaterialsDirectCOFC p {
        display: inline;
        padding: 0;
        line-height: 2.1rem;
    }
    & .cart .product-name .variation dt {
        font-size: 0.88rem;
        margin-right: 0.5rem;
        font-weight: bold;
        line-height: 2rem;
    }
    & .cart .product-name .variation dt.variation-DespatchNotes {
        width: 100%;
        margin-bottom: -0.1rem;
    }
    & .cart .product-name .variation dd {
            margin: 0 0 -0.05rem 0;
    }
    & .global-shipping-address-title {
        font-size: 1.55rem;
    }
    & .global-shipping-address {
        margin-top: 20px;
    }
    & .global-shipping-address-list {
        padding: 0;
        line-height: 1.45rem;
        margin-top: -0.6rem;
    }
    & .cart_totals__shipment {
        padding: 0
    }
    & .cart_totals__shipment-details {
        padding: 0;
    }
    & .woocommerce-remove-coupon {
        display: none;
    }
    & .cart_totals h2 {
        font-size: 1.55rem;
    }
    & .woocommerce table.shop_table {
        font-size: 0.88rem;
    }
    & .site-main {
        padding: 3rem 0rem;
    }
    & .cart__currency-switcher {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
    }
    & .cart__currency-switcher-text {
        font-size: 0.63rem;
        font-weight: 700;
        width: 100%;
        line-height: 1.45rem;
        padding: 0.7rem 0.05rem 1.8rem 0;
    }
    & .cart__currency-switcher-box {
        width: 135px;
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
    }
    & .cart__currency-switcher-link {
        display: flex;
        justify-content: center;
        align-items: center;
        background: variables.$primary-color;
        color: white;
        width: 30px;
        height: 30px;
        margin-left: 15px;
        border-radius: 1.2rem;
        font-weight: 600;
        font-size: 0.85rem;
    }
    & .cart__currency-switcher-link.active-currency {
        background: variables.$secondary-color;
    }
    & .currency_notice {
        display: block;
        clear: both;
        font-size: 10px;
        font-weight: bold;
        text-align: right;
        position: relative;
        padding-top: 0;
        margin-top: -0.2rem;
    }
}

.woocommerce-cart th.product-price, .woocommerce-cart td.product-price, .woocommerce-cart th.product-quantity, .woocommerce-cart td.product-quantity {
  display: none;
}
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-destination {
    display: none;
}
.woocommerce-cart .cart-collaterals .cart_totals .woocommerce-shipping-calculator {
    display: none;
}
.woocommerce-cart-form .shop_table tbody tr:last-child {
  display: none;
}

// .woocommerce .shop_table .product-thumbnail a {
//   width: 120px;
// }
.woocommerce .shop_table .product-thumbnail a img {
  width: 100%;
}
.woocommerce .shop_table .product-thumbnail {
    max-width: 132px;
    padding: 1.2rem 0.9rem 1.2rem 1.4rem;
}
.woocommerce .shop_table .product-remove {
    max-width: 78px;
    padding: 9px 9px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    font-size: 1.12rem;
    padding: 0.9rem;
    background: variables.$secondary-color;
    font-weight: 400;
    transition: background 0.15s ease-in;
    border-radius: 0.3rem;
    margin-bottom: 2.7rem;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
    background: #1a2631;
    
}
.woocommerce .shop_table .product-remove a.remove {
    margin: 0px 25px 0 0;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 21px;
    font-weight: lighter;
    line-height: inherit;
    background: variables.$secondary-color;
    border-radius: 0;
    padding: 0.6rem 0.9rem;
}
.woocommerce table.shop_table .product-subtotal {
    width: 145px;
    text-align: center;
}
.return-to-shop {
    margin-bottom: 2rem;
}
