@use "../abstracts/breakpoints";
@use "../abstracts/variables";

//

.woocommerce-checkout {
    & .entry-header {
        display: none;
    }
    & .product-name .product-name-bold {
        color: variables.$primary-color;
        font-weight: bold;
    }
    & .product-name a {
        color: variables.$primary-color;
        font-weight: bold;
    }
    & .product-name .variation .variation-WidthMM {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-WidthMM p {
        display: inline-block;
        padding: 0;
        line-height: 2rem;
    }
    
    & .product-name .variation .variation-LengthMM {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-LengthMM p {
        display: inline-block;
        padding: 0;
        line-height: 1.7rem;
    }

    & .product-name .variation .variation-RollLengthMetres {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-RollLengthMetres p {
        display: inline-block;
        padding: 0;
        line-height: 1.7rem;
    }

    & .product-name .variation .variation-Totalnumberofrolls {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-Totalnumberofrolls p {
        display: inline-block;
        padding: 0;
        line-height: 1.7rem;
    }

    & .product-name .variation .variation-RadiusMM {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-RadiusMM p {
        display: inline-block;
        padding: 0;
        line-height: 1.7rem;
    }

    & .product-name .variation .variation-RadiusINCHES {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-RadiusINCHES p {
        display: inline-block;
        padding: 0;
        line-height: 1.7rem;
    }
    
    & .product-name .variation .variation-Totalnumberofparts {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-Totalnumberofparts p {
        display: inline-block;
        padding: 0;
        margin-top: 0;
    }
    & .product-name .variation .variation-DeliveryTime p {
        display: inline;
        padding: 0;
    }
    & .product-name .variation .variation-SheetsRequired p {
        display: inline-block;
        padding: 0;
        margin-top: 0.15rem;
    }

    & .product-name .variation .variation-DespatchNotes {
        line-height: 1.7rem;
        width: 100%;
    }
    & .product-name .variation .variation-DespatchNotes p {
        display: inline;
        padding: 0;
        line-height: 1.9rem;
    }

    & .product-name .variation .variation-ManufacturersCOFC {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-ManufacturersCOFC p {
        display: inline-block;
        padding: 0;
        margin-top: 0rem;
    }

    & .product-name .variation .variation-MaterialsDirectCOFC {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-MaterialsDirectCOFC p {
        display: inline-block;
        padding: 0;
        margin-top: 0rem;
    }

    & .product-name .variation .variation-FirstArticleInspectionReport {
        line-height: 1.7rem;
    }
    & .product-name .variation .variation-FirstArticleInspectionReport p {
        display: inline-block;
        padding: 0;
        margin-top: 0rem;
    }
    
    & .product-name .variation .variation-CustomerShippingWeights {
        line-height: 1.7rem;
        margin-top: 0.2rem;
    }
    & .product-name .variation .variation-CustomerShippingWeights p {
        display: inline;
        padding: 0;
        line-height: 1.9rem;
    }
    & .product-name .variation .variation-BackorderNotice p {
        display: inline;
        padding: 0;
    }
    & .product-name .variation .variation-PDFDrawing p {
        display: inline;
        padding: 0;
    }
    & .product-name .variation .variation-DXFDrawing p {
        display: inline;
        padding: 0;
    }
    & .product-name .variation .variation-Partshape p {
        display: inline;
        padding: 0;
    }
    & .product-name .variation .variation-Partshape p {
        display: inline-block;
        padding: 0;
        margin-top: 0.15rem;
    }
    & .product-name .variation .variation-WidthINCHES p {
        display: inline-block;
        padding: 0;
        margin-top: 0.15rem;
    }
    & .product-name .variation .variation-LengthINCHES p {
        display: inline-block;
        padding: 0;
        margin-top: 0.22rem;
    }
    & .product-name .variation dt {
        margin-right: 0.5rem;
        font-weight: bold;
        line-height: 2rem;
    }
    & #payment {
        background: none;
        border-radius: 5px;
    }
    & #payment p {
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    & #payment a {
        font-weight: 700;
        color: variables.$primary-color;
    }
    & #payment .woocommerce-privacy-policy-text {
        margin-bottom: 1rem;
    }
    & .cart_totals__shipment {
        padding: 0;
    }
    & .cart_totals__shipment-details {
        padding: 0;
    }
    & #order_review_heading {
        display:none;
    }
    & .shop_table .coupon-2-order-value-discount .woocommerce-remove-coupon {
        display: none;
    }
    & .product-quantity {
        display: none;
    }
    & #payment ul.payment_methods {
        padding: 1em 0;
    }
    & #payment div.form-row {
        padding: 1em 0;
    }
    & .dap-delivery-notice p {
        font-size: 0.9rem;
        letter-spacing: -0.01rem;
        padding: 1rem 0 0.9rem 0;
    }
    & .custom-shipping-address p {
        font-size: 0.9rem;
        letter-spacing: -0.01rem;
    }
    & .cart_totals__shipment {
        font-size: 0.9rem;
        letter-spacing: -0.01rem;
    }
    & .cart_totals__shipment-details {
        font-size: 0.9rem;
        letter-spacing: -0.01rem;
    }
    & .woocommerce-terms-and-conditions-checkbox-text {
        font-size: 0.9rem;
        letter-spacing: -0.01rem;
    }
    & .woocommerce-remove-coupon {
        display: none;
    }
    & .woocommerce table.shop_table {
        font-size: 0.87rem;
        margin: 0 -1px 12px 0;
    }
    & .woocommerce-checkout .product-name .variation .variation-DespatchNotes p {
        line-height: 0.9rem;
    }
    & .wc_payment_methods {
        font-size: 0.88rem;
    }
    & #payment p {
        padding: 0;
        font-size: .8rem;
        line-height: 1.4rem;
    }
    & .site-main {
        padding: 3rem 0;
    }
    & #order_review {
        margin-top: 2rem;
    }
    & .custom-shipping-address h3 {
        padding: 0 0 0.15rem 0;
    }
        & .cart__currency-switcher {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
    }
    & .cart__currency-switcher-text {
        font-size: 0.63rem;
        font-weight: 700;
        width: 100%;
        line-height: 1.45rem;
        padding: 0.7rem 0.05rem 1.8rem 0;
    }
    & .cart__currency-switcher-box {
        width: 135px;
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
    }
    & .cart__currency-switcher-link {
        display: flex;
        justify-content: center;
        align-items: center;
        background: variables.$primary-color;
        color: white;
        width: 30px;
        height: 30px;
        margin-left: 15px;
        border-radius: 1.2rem;
        font-weight: 600;
        font-size: 0.85rem;
    }
    & .cart__currency-switcher-link.active-currency {
        background: variables.$secondary-color;
    }
    & .currency-disclaimer {
        font-size: 0.7rem;
    }
}



.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    background: variables.$secondary-color;
    border-radius: 0;
    font-weight: 400;
    padding: 0.95rem 1.7rem;
    float: left;
    margin: 1rem 0;
}
.payment_box p {
    padding: 0;
    font-size: 0.9rem;
    line-height: 1.4rem;
}
.woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border-color: variables.$primary-color;
}
.woocommerce form .form-row.woocommerce-validated .select2-container:not(.select2-container--open) .select2-selection {
    border-color: variables.$primary-color;
}