@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.contact {
    padding: 3rem 0;
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }
    &__row {
        width: 100%;
        @include breakpoints.tablet {
            width: 50%;
        }
        padding: 1rem;
    }
    &__row:nth-child(1) {
        background: #4b6492;
    }
    &__row:nth-child(2) {
        background: #eaece6;
    }
    &__map {
        width: 100%;
        height: 300px;
        @include breakpoints.iphone {
            height: 450px;
        }
    }
    &__heading {
        font-size: 1.6rem;
        padding: 0;
    }
    &__row:nth-child(1)  &__heading {
        color: white;
    }
    &__row:nth-child(2)  &__heading {
        color: variables.$secondary-color;
    }
    &__wrapper {
        color: white;
    }
    &__content {
        padding: 0;
        margin-bottom: 1.0rem;
    }
    &__row p {
        margin: 0;
        padding: 0;
    }
    &__row .wpcf7-form {
        display: flex;
        flex-wrap: wrap;
    }
    &__row .woocommerce-tabs__form-input {
        margin-bottom: -0.5rem;
    }
    &__row .button {
        padding: 0.6rem 1.9rem;
        border-radius: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__row .wpcf7-not-valid-tip {
        color: variables.$primary-color;
        font-size: 1em;
        font-weight: normal;
        display: block;
        margin-top: 1rem;
        margin-bottom: -1rem;
        font-style: italic;
    }
    &__row [data-name="your-message"] .wpcf7-not-valid-tip  {
        //border: 1px solid red;
        margin-top: 0;
    }
}