@use "../abstracts/breakpoints";
@use "../abstracts/variables";
// .account-application-three-column__container {
//     background: yellow;
// }
.credit-account-application {
    background: #f7f7f7;
    padding: 3rem 0;
    &__partner-logos {
        background: white;
    }
    &__4-column-company-info {
        background: white;
        padding: 3rem 0;
    }
    & form {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 3rem 0;
    }
    & form .any-questions__form-input-1 p {
        padding: 0;
        margin: 0 0 0.85rem 0;
    }
    & form .any-questions__form-input-1b p {
        padding: 0;
        margin: 0 0 0.85rem 0;
    }
    & form .any-questions__form-input-2 p {
        padding: 0;
        margin: 0 0 0.85rem 0;
    }
    & form .button {
        padding: 0.7rem 2rem;
        border-radius: 1.8rem;
    }
    &__welcome-text {
        text-align:center;
        margin: 1rem 0 0 0;
    }
    &__welcome-text-container {
        padding: 0 1rem;
        @include breakpoints.tablet {
            padding: 0 3.5rem;
        }
        @include breakpoints.laptop {
            padding: 0 7rem;
        }
    }
    &__welcome-text-container {
        border-top: 1px solid #e9e9e9;
        padding: 3.5rem 0 1rem 0;
    }
    &__welcome-text-heading {
        font-size: 25.5px;
        line-height: 29px;
        @include breakpoints.tablet {
            font-size: 3.4rem;
            line-height: 4rem;
        } 
    }
    &__welcome-text-subheading {
        font-size: 25.5px;
        line-height: 29px;
        @include breakpoints.tablet {
            font-size: 1.65rem;
            line-height: 2.5rem;
        }
        font-weight: 300;
    }
    &__welcome-text-subheading::after {
        background: variables.$primary-color;
        content: "";
        width: 30%;
        @include breakpoints.tablet {
            width: 260px;
        }
        height: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.1rem;
        margin-bottom: 1.25rem;
    }
    &__welcome-text-subheading-2 {
        font-size: 25.5px;
        line-height: 29px;
        @include breakpoints.tablet {
            font-size: 1.65rem;
            line-height: 2.5rem;
        } 
        font-weight: 300;
        padding: 0 0.4rem;
        margin-bottom: 1.25rem;
    }
    &__welcome-text-content p {
        line-height: 1.6rem;
        padding: 0 6rem 0.7rem 6rem;
    }
    &__three-column {
        padding: 3.8rem 0;
    }
    &__three-column-content {
        padding: 0.5rem 0 3.8rem 0;
        max-width: 760px;
        margin-left:auto;
        margin-right: auto;
    }
    &__three-column-content::after {
        background: variables.$primary-color;
        content: "";
        width: 30%;
        @include breakpoints.tablet {
            width: 170px;
        }
        height: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.1rem;
        margin-bottom: 1.25rem;
    }
    &__three-column_thumb {
        width: 100%;
        height: auto;
    }
    &__three-column-heading {
        padding: 0;
        margin-top: 0.2rem;
        margin-bottom: 0.65rem;
    }
    &__three-column-heading a {
        font-size: 1.21rem;
        color: variables.$secondary-color;
    }
    &__three-column-excerpt p {
        font-size: 0.89rem;
        line-height: 1.15rem;
        padding: 0 1rem;
        font-weight: 300;
    }
    &__three-column-btn {
        margin-top: 1.5rem;
        border-radius: 2rem;
    }
    &__three-column-image {
        object-fit: cover;
        height: 220px;
    }
    &__three-column-container .owl-stage-outer {
        z-index: 9;
    }
    &__three-column-container .owl-nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 5.2rem;
        @include breakpoints.tablet {
             top: 11rem;
        }
        @include breakpoints.desktop {
             top: 10.5rem;
        }
        width: 100%;
    }
    &__three-column-container .owl-nav .owl-prev {
        left: -1.6rem;
        display: none;
        @include breakpoints.tablet {
            left: -2.2rem;
            display: inline-block;
        }
        @include breakpoints.laptop {
            left: -2.8rem;
        }
        @include breakpoints.desktop {
            left: -3.3rem;
        }
        position: relative;
    }
    &__three-column-container .owl-nav .owl-next {
        right: -1.6rem;
        display: none;
        @include breakpoints.tablet {
            right: -2.2rem;
            display: inline-block;
        }
        @include breakpoints.laptop {
            right: -2.8rem;
        }
        @include breakpoints.desktop {
            right: -3.3rem;
        }
        display: inline-block;
        position: relative;
    }
    &__three-column-container .owl-dots {
        display: none;
    }
}

.page-template-page-credit-account-application {
    & .wpcf7 form .wpcf7-response-output {
        margin: 2em 0.5em 1em;
        padding: 0.2em 1em;
        width: 100%;
        text-align: center;
    }
    & form.invalid .wpcf7-not-valid {
        border: 1px solid variables.$primary-color;
        box-shadow: 0px 0px 10px #ccc;
    }
    & form.invalid .wpcf7-not-valid-tip {
        background: variables.$primary-color;
        color: white;
        display: inline-block;
        width: auto;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.15rem;
        text-align: center;
        border-radius: 16px;
        padding: 0 5px;
        font-weight: 700;
        position: absolute;
        top: 0px;
        right: 1rem;
    }
    & .our-partners .owl-stage-outer {
        z-index: 9;
    }
    & .our-partners .owl-nav {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 4.4rem;
        @include breakpoints.laptop {
             top: 3.5rem;
        }
        @include breakpoints.desktop {
             top: 3rem;
        }
        width: 100%;
    }
    & .our-partners .owl-nav .owl-prev {
        left: -1.6rem;
        display: none;
        @include breakpoints.tablet {
            left: -1.6rem;
            display: inline-block;
        }
        @include breakpoints.laptop {
            left: -2.8rem;
        }
        @include breakpoints.desktop {
            left: -3.3rem;
        }
        position: relative;
    }
    & .our-partners .owl-nav .owl-next {
        right: -1.6rem;
        display: none;
        @include breakpoints.tablet {
            right: -1.6rem;
            display: inline-block;
        }
        @include breakpoints.laptop {
            right: -2.8rem;
        }
        @include breakpoints.desktop {
            right: -3.3rem;
        }
        position: relative;
    }
}
