@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.faqs {
    padding: 2.5rem 0;
    &__heading {
        font-size: 25.5px;
        line-height: 29px;
        @include breakpoints.tablet {
            font-size: 44px;
            line-height: 50px
        } 
    }
    &__heading::after {
        background: variables.$primary-color;
        content: "";
        width: 30%;
        @include breakpoints.tablet {
            width: 260px;
        }
        height: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.1rem;
        margin-bottom: 1.5rem;
    }
    &__ui-accordion &__ui-accordion-header {
        cursor: pointer;
        font-size: 1rem;
        margin-bottom: 1px;
        padding: 15px 15px 15px 30px;
        border-radius: 0;
        background: #f5f5f5;
        margin-top: 0;
        border-width: 0px;
        font-weight: normal;
        border-width: 0px;
        &.ui-state-active{
            background: #1c394f;
            color: white;
        }
    }
    &__ui-accordion &__ui-accordion-header:focus {
        border-width: 0px;
        border-radius: 0px;
    }
    &__ui-accordion &__ui-accordion-content {
        padding: 40px 20px;
        border-width: 0 0 1px 0;
        border-radius: 0;
        font-size: 14px;
        line-height: 120%;
        border-width: 0px;
        p {
        line-height: 140%;
                margin: 0;
                padding: 0;
        }
    }
}



// .faqs__ui-accordion .faqs__ui-accordion-header {
// 		font-size: 1rem;
//     margin-bottom: 1px;
//     padding: 15px 15px 15px 30px;
//     border-radius: 0;
//     background: #f5f5f5;
//     margin-top: 0;
//     border-width: 0px;
//     font-weight: normal;
//     border-width: 0px;
//     &.ui-state-active{
//         background: #1c394f;
//         color: white;
//     }
// }


// .faqs__ui-accordion .faqs__ui-accordion-header:focus {
//     border-width: 0px;
//     border-radius: 0px;
// }

// .faqs__ui-accordion .faqs__ui-accordion-content {
//     padding: 40px 20px;
//     border-width: 0 0 1px 0;
//     border-radius: 0;
//     font-size: 14px;
//     line-height: 120%;
//     border-width: 0px;
//     p {
//       line-height: 140%;
// 			margin: 0;
// 			padding: 0;
//     }
// }