@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.page-id-11 {
    & .woocommerce-form p:nth-child(3) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: stretch;
        flex-direction: row-reverse;
        margin-top: 1.5rem;
    }
    & .woocommerce-form p:nth-child(3) .woocommerce-form-login__rememberme {
        margin-right: auto;
    }
    & .woocommerce-form label {
        margin-bottom: 0.2rem;
        font-weight: 700;
    }
    & .woocommerce .woocommerce-form-login {
        min-height: 338px;
    }
    & .woocommerce .woocommerce-form-register {
        min-height: 338px;
    }
    & .woocommerce .woocommerce-form-register p {
        padding: 0rem 0 1rem 0;
    }
    & .woocommerce .woocommerce-form-register p:nth-child(3) {
        padding: 0;
    }
    & .woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
        margin: 0 0 -1rem 0;
    }
    & .woocommerce h2 {
        line-height: 40px;
        margin-top: 5rem;
    }
    & .entry-content {
        padding: 5rem 0 0 0;
    }
    & .entry-content ul li {
        padding: 0.3rem 0 0.3rem 0.7rem;
        border-bottom: 1px solid #f2f2f2;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
    }
    & .entry-content ul li a {
        color: #858585;
        font-size: 0.835rem;
    }
    & .entry-content ul li.is-active {
        background: variables.$secondary-color;
    }
    & .entry-content ul li.is-active a {
        font-size: 0.835rem;
        color: white;
    }
    & .woocommerce-MyAccount-content .u-column1.col-1.woocommerce-Address  {
        width: 100%;
    }
    & .woocommerce-MyAccount-content .u-column2.col-2.woocommerce-Address  {
        display: none;
    }
    & .woocommerce-MyAccount-content .u-column1.col-1.woocommerce-Address h2 {
        font-size: 2.1rem;
        margin: 0;
    }
    & .woocommerce-MyAccount-content address {
        background: rgba(0, 0, 0, 0.02);
        position:relative;
        padding: 15px 15px 15px 80px;
    }
    & .woocommerce-MyAccount-content p {
        padding-top: 0;
    }
    & .woocommerce-MyAccount-content address:before {
        content: "";
        width: 60px;
        height: 100%;
        background: rgba(0, 0, 0, .03);
        border-right: 1px solid rgba(0, 0, 0, .1);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
    }
    & .woocommerce-account .addresses .title .edit {
        float: left;
        margin: 1rem 0 0.5rem 0;
    }
    & .woocommerce-MyAccount-content .button {
        background: variables.$secondary-color;
        color: white;
        padding: 1rem 1.5rem;
        font-weight: 400;
        border-radius: 0;
        font-size:0.85rem;
        margin-top: 1.3rem;
    }
     & .woocommerce-MyAccount-content h2 {
        font-size: 2.3rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
     }
    & .woocommerce form .form-row {
        padding: 0px;
    }
    & .woocommerce-EditAccountForm fieldset {
        margin-top: 15px;
    }
    & .woocommerce-EditAccountForm fieldset legend {
        margin-bottom: 15px;
    }
    & .woocommerce-MyAccount-navigation {
        margin-bottom: 3rem;
        @include breakpoints.tablet {
             margin-bottom: 0;
        }
    }
    & .woocommerce table.shop_table_responsive tr td {
        min-height: 30px;
        @include breakpoints.tablet {
            min-height: auto;
        }
    }
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit, .woocommerce .woocommerce-form-register .woocommerce-form-register__submit {
    background: variables.$secondary-color;;
    color: white;
    border-radius: 0.15rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
}

.my-accounts-banner {
    width: 100%;
    height: 220px;
    @include breakpoints.iphone {
        height: 330px;
    }
    @include breakpoints.tablet {
        height: 405px;
    }
    background: #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__heading {
        color: white;
        text-align: center;
    }
}