
@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.news {
    padding: 3rem 0;
    &__grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        @include breakpoints.iphone {
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoints.tablet {
            grid-template-columns: repeat(3,1fr);
        }
        grid-gap: 2.4rem;
    }
    &__card {
        width: 100%;
    }
    &__image {
        width: 100%;
        height: 245px;
        overflow: hidden;
    }
    &__image img {
        width: 100%;
        object-fit: cover;
        height: 260px;
        margin-top: 0px;
        transition: margin-top 0.13s ease-in;
    }
    &__image img:hover {
        margin-top: -15px;
    }
    &__title {
        font-size: 1.8rem;
        padding: 0.3rem 0;
        margin-left: 0.75rem;
    }
    &__title-link {
        font-size: 1.05rem;
        line-height: 1.45rem;
        @include breakpoints.laptop {
            font-size: 1.35rem;
            line-height: 1.75rem;
        }
        color: variables.$secondary-color;
        font-weight: 300;
    }
    &__date {
        font-size: 0.88rem;
        padding: 0;
        margin-top: 0.35rem;
        margin-left: 0.75rem;
    }
    &__readmore {
        font-size: 0.8rem;
        width: 55%;
        @include breakpoints.laptop {
             width: 46%;
        }
        @include breakpoints.desktop {
            width: 36%;
            font-size: 0.85rem;
        }
        padding: 6px 0 6px 15px;
        border-left: 1px solid #ddd;
    }
    &__readmore:hover {
        text-decoration: underline;
    }
    &__links {
        background: #f8f8f8;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }
    &__link-icon {
        color: variables.$secondary-color;
        margin-right: 4px;
    }
    &__link-icon-number {
        color: variables.$secondary-color;
    }
    &__favourites {
        width: calc(45% - 0px);
        @include breakpoints.laptop {
            width: calc(58% - 15px);
        }
        @include breakpoints.desktop {
            width: calc(68% - 15px);
        }
        height: auto;
        padding: 6px 0 6px 10px;
    }
}

.single-post .news-detail {
    padding: 2rem 0 3rem 0;
    &__title {
        color: variables.$primary-color;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 4.5rem;
        border-bottom: 10px solid variables.$secondary-color;
        padding: 0 0 2rem 0;
        margin-bottom: 1rem;
    }
    &__related {
        width: 100%;
        height: auto;
        border-top: 1px solid #eee;
        margin-top: 2rem;
    }
    &__related-grid {
        display: grid;
        grid-gap: 2.4rem;
        grid-template-columns: repeat(1,1fr);
        @include breakpoints.iphone {
            grid-template-columns: repeat(2,1fr);
        }
        @include breakpoints.laptop {
            grid-template-columns: repeat(3,1fr);
        }
    }
    &__author {
        font-size: 0.85rem;
    }
    &__related-title {
        color: variables.$secondary-color;
        font-weight: 400;
        font-size: 1.8rem;
    }
    &__related-thumb {
        height: 245px;
        overflow:hidden;
        width: 100%;
    }
    &__related-thumb img {
        height: 260px;
        margin-top: 0;
        transition: margin-top 0.13s ease-in;
    }
    &__related-thumb img:hover {
        margin-top: -15px;
    }
    &__related-date {
        margin-top: 1.2rem;
        color: #999;
        display: block;
        font-size: 0.8rem;
    }
    &__related-title-small a {
        color: variables.$secondary-color;
        font-size: 1.2rem;
        line-height: 1.7rem;
        font-weight: 600;
    }
    &__read-more {
        font-size: 0.85rem;
        color: white;
        background: variables.$primary-color;
        padding: 0.8rem 1.3rem;
        border-radius: 0.15rem;
        transition: background 0.15s ease-in;
    }
    &__read-more:hover {
        background: variables.$secondary-color;
    }
    & .navigation {
        display: none;
    }
    & img {
        width: 100%;
        margin-bottom: 2rem;
    }
    & h1 {
        color: variables.$primary-color;
        font-weight: 700;
    }
    & h2 {
        color: variables.$primary-color;
        font-weight: 700;
    }
    & h3 {
        color: variables.$primary-color;
        font-weight: 700;
    }
    & h4 {
        color: variables.$primary-color;
        font-weight: 700;
        font-size: 1.68rem;
    }
    & h5 {
        color: variables.$primary-color;
        font-weight: 700;
        font-size: 1.33rem;
    }
    & h6 {
        color: variables.$primary-color;
        font-weight: 700;
    }
    & .button {
        padding: 0.7rem 1.5rem;
    }
}