@use "../abstracts/breakpoints";
@use "../abstracts/variables";
.partner-brands-content {
    margin: 3rem 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid variables.$grey-300;
    }
    &__thumb {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 1rem;
        @include breakpoints.iphone {
            width: 34%;
            margin-right: 3%;
            margin-bottom: 1rem;
        }
        @include breakpoints.tablet {
            width: 24%;
            margin-right: 2%;
            margin-bottom: 0;
        }
        @include breakpoints.laptop {
            width: 12%;
            margin-right: 2%;
        }
        height: auto;
    }
    &__img {
        width: 100%;
        border: 1px solid variables.$grey-300;
    }
    &__right {
        width: 100%;
        margin-bottom: 1rem;
        margin-right: 0;
        @include breakpoints.iphone {
            width: 60%;
            margin-bottom: 1rem;
            margin-right: 3%;
        }
        @include breakpoints.tablet {
            width: 54%;
            margin-bottom: 0;
            margin-right: 1%;
        }
        @include breakpoints.laptop {
            width: 69%;
            margin-right: 1%;
        }
        height: auto;
    }
    &__link {
        width: 100%;
        margin-bottom: 0.8rem;
        @include breakpoints.tablet {
            width: 14%;
            margin-bottom: 1.5rem;
        }
        @include breakpoints.laptop {
            width: 10%;
            margin-bottom: 1.5rem;
        }
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;
        justify-content: center;
        color: white;
        background: variables.$primary-color;
        text-align:center;
        border-radius: 0.25rem;
        transition: background 0.05s ease-in;
        font-size: 0.85rem;
        width: 150px;
        padding: 0.8rem;
    }
    &__link:hover {
        background: variables.$secondary-color;
        color: white;
        text-decoration: none;
    }
    &__description {
        margin-bottom: 0;
        line-height: 1.15rem;
        @include breakpoints.laptop {
            line-height: 1.4rem;
        }
    }
    &__count {
        font-size: 1.1rem;
        line-height: 1.3rem;
        border-bottom: 1px solid variables.$grey-300;
        margin-bottom: 1rem;
    }
    &__count p {
        margin-bottom: 0.8rem;
        padding: 0;
        font-size: 1.05rem;
    }
    &__no-products {
        font-size: 1.05rem;
        text-align: center;
    }
    &__title {
        font-size: 1.65rem;
        padding: 0;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
}

.page-template-page-partner-brands {
    background: #f7f7f7;
}