@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.product-page {
    &__title {
        font-size: 2.1rem;
        color: variables.$secondary-color;
        padding: 0;
        line-height: 2.4rem;
    }
    &__grey-panel {
        background: #efefef;
        padding: 1.1rem;
        margin: 0 0 1.5rem 0;
    }
    &__calculate-price {
        padding: .25rem 1rem;
        border-radius: 2.2rem;
        background: variables.$primary-color;
        margin: .5rem .5rem .75rem 0;
    }
    &__input-wrap {
        color: variables.$secondary-color;
        width: 32.6%;
        display: inline-block;
        font-weight: 600;
        font-size: 0.9rem;
    }
    &__input-wrap-radius {
        color: variables.$secondary-color;
        width: 65.2%;
        display: inline-block;
        font-weight: 600;
        font-size: 0.9rem;
    }
    &__input {
        width: 100%;
        display: block;
        padding: .1rem 0.5rem;
        font-weight: 400;
    }
    &__input.disabled {
        background: transparent;
        padding: 0;
    }
    &__generate-price {
        color: white;
        padding: .25rem 1rem;
        border-radius: 2.2rem;
        background: variables.$primary-color;
        margin: .5rem .5rem .75rem 0;
        border: 0;
        padding: 0.5rem 1rem;
        font-size: 0.92rem;
    }
    &__generate-price.hide {
        display: none;
    }
    &__label {
        font-weight: 600;
        color: variables.$secondary-color;
        line-height: 1.5rem;
    }
    &__label-small-text {
        font-style: italic;
        font-weight: 400;
        font-size: 0.76rem;
        display: block;
    }
    &__calc-input {
        margin: 0 0 0.85rem 0;
        padding: .5rem;
        font-weight: 400;
        font-size: 0.9rem;
        background: white;
        border: 1px solid #dedede;
        width: 100%;
    }
    &__calc-input-small {
        width: 48%;
        margin-right: 1.6%;
    }
    &__subheading {
        color: variables.$secondary-color;
        font-weight: 700;
        font-size: 0.88rem;
        padding: 1rem 0 0 0;
    }
    &__display-price-outer {
        border: 2px solid variables.$primary-color;
        margin-top: 0.6rem;
    }
    &__display-price-inner {
        padding: 0.5rem;
    }
    &__display-price {
        padding: 0.3rem;
        color: variables.$primary-color;
        font-weight: 700;
    }
    &__display-price-text {
        color: variables.$secondary-color;
    }
    &__display-price-heading {
        color: white;
        margin: 0;
        padding: 2px 19px;
        font-size: 16.5px;
        font-weight: 700;
        background: variables.$primary-color
    }
    &__discount-table {
        width: 100%;
        margin-bottom: 2rem;
    }
    &__discount-table-2 {
        width: 100%;
        margin-bottom: 0.6rem;
    }
    &__discount-table-title {
        font-size: 1.15rem;
        font-weight: 600;
        padding: 0;
    }
    &__discount-table-heading {
        font-weight: 700;
        background: #f19000;
        color: #fff;
        font-size: 80%;
        padding: 0.5rem;
    }
    &__discount-table-content {
        background: #eee;
        color: #2d3e4f;
        font-size: 80%;
        padding: 0.5rem;
        padding-left: 0px;
        text-align:center;
        border: 1px solid #ddd;
        border-width: 0 1px 1px 0;
    }
    &__discount-table-content-2 {
        background: white;
        color: #2d3e4f;
        font-size: 80%;
        padding: 0.5rem;
        padding-left: 0px;
        text-align:center;
        border: 1px solid #ddd;
        border-width: 0 1px 1px 0;
    }
    &__discount-table-info {
        font-size: .85rem;
        font-weight: 600;
        text-align: right;
        width: 100%;
        padding: 0.2rem 0 0.5rem 0;
        text-decoration: none;
    }
    &__discount-table-info:hover {
        text-decoration:underline;
    }
    &__backorder-message {
        background-color: #f8d7da; 
        color: #721c24; 
        padding: 10px; 
        margin: 1rem 0 0 0; 
        border: 1px solid #f5c6cb; 
        border-radius: 4px;
    }
    &__backorder-message-text {
        padding: 0;
        line-height: 1.7rem;
    }
    &__qty-label {
        color: variables.$secondary-color;
        font-weight: 600;
    }
    &__stock-sheet-size {
        margin: 0;
        padding: 0;
    }
    &__shipments-btn {
        //background: variables.$secondary-color;
        background: #6c7681;
        color: white;
        font-weight: 400;
        padding: 0.85rem 1.3rem;
        font-size: 0.92rem;
    }
    &__shipments-btn.active {
        background: variables.$primary-color;
    }
    &__stages-heading {
        background: variables.$secondary-color;
    }
    &__stages-heading-content {
        color: white;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 0.4rem 0.8rem;
        margin-top: 1rem;
    }
    &__order_info_box {
        display: flex;
        background: #eee;
        border: 1px solid #ccc;
        padding: 0 16px;
        clear: both;
    }
    &__stages-heading-content::before {
        display: inline-block;
        width: 24px;
        height: 24px;
        content: "";
        vertical-align: middle;
        margin-right: 5px;
        margin-top: -1px;
        margin-left: -3px;
    }
    &__stages-heading-content.one::before {
        background-image: url("/wp-content/uploads/2025/09/one-new.png");
        background-size: 24px 24px;
    }
    &__stages-heading-content.two::before {
        background-image: url("/wp-content/uploads/2025/09/two-new.png");
        background-size: 24px 24px;
    }
    &__stages-heading-content.three::before {
        background-image: url("/wp-content/uploads/2025/09/three-new.png");
        background-size: 24px 24px;
    }
    &__order-info-message-1 {
        width: 100%;
        font-weight: 600;
        padding: 0.4rem 0.8rem;
        background: variables.$secondary-color;
        color: white;
    }
    &__order-info-message-2 {
        padding: 1rem 0 1rem 0.8rem;
    }
    &__order-info-message-3 {
        padding: 1rem 0 1rem 0.8rem;
    }
    &__file-upload-label {
        color: variables.$secondary-color;
        font-weight: 700;
        display: block;
    }
    &__file-upload-input {
        width: 100%;
        padding: 0;
        margin-bottom: 0.6rem;
    }
    &__file-upload-pdf-message {
        font-size: 0.8rem;
        padding: 0;
        line-height: 1.2rem;
        margin-bottom: 0.8rem;
    }
    &__drawing-guide {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0.5rem 0 1rem 0;
    }
    &__drawing-guide-btn {
        background: variables.$primary-color;
        color: white;
        font-weight: 400;
        font-size: 0.8rem;
        padding: 0.65rem 0.8rem;
    }
    &__drawing-guide-text {
        font-size: 0.8rem;
        font-style: italic;
        padding: 0;
    }
    &__tabs {
        width: 100%;
        display: flex;
        margin-top: 1rem;
    }
    &__tabs &__tabs-list:nth-child(1){
        background: #cacaca;
        color: white;
    }
    &__tabs &__tabs-list:nth-child(2){
        background: #cacaca;
        color: white;
    }
    &__tabs &__tabs-list:nth-child(3){
        background: #cacaca;
        color: white;
    }
    &__tabs &__tabs-list:nth-child(4){
        background: #cacaca;
        color: white;
    }
    &__tabs &__tabs-list &__tabs-label {
        color: white;
    }
    &__tabs-label {
        padding: .88rem .75rem .88rem 2.7rem;
        display: block;
        color: white;
        font-weight: 600;
        font-size: 0.79rem;
        line-height: 0.4rem;
        position: relative;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
    &__tabs-list.active {
        background: variables.$primary-color;
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        background: variables.$primary-color;
    }
    &__tabs-label.disable {
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
        background: #cacaca;
    }
    &__tabs-list {
        border-top-left-radius: 0.4rem;
        border-top-right-radius: 0.4rem;
    }
    &__tabs-list:nth-child(1) {
        width: 168px;
    }
    &__tabs-list:nth-child(2) {
        width: 135px;
    }
    &__tabs-list:nth-child(3) {
        width: 140px;
    }
    &__tabs-list:nth-child(4) {
        width: 115px;
    }
    &__tabs-list:nth-child(1) &__tabs-label:before {
        content: "";
        background-image: url("/wp-content/uploads/2025/10/icon-custom-shape.png");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 11px;
        top: 13px;
    }
    &__tabs-list:nth-child(2) &__tabs-label:before {
        content: "";
        background-image: url("/wp-content/uploads/2025/10/icon-circle-shape.png");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 11px;
        top: 13px;
    }
    &__tabs-list:nth-child(3) &__tabs-label:before {
        content: "";
        background-image: url("/wp-content/uploads/2025/10/icon-square-shape.png");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 11px;
        top: 13px;
    }
    &__tabs-list:nth-child(4) &__tabs-label:before {
        content: "";
        background-image: url("/wp-content/uploads/2025/10/icon-square-shape.png");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 11px;
        top: 13px;
    }
    &__tabs-list:nth-child(4) &__tabs-label:before {
        content: "";
        background-image: url("/wp-content/uploads/2025/10/icon-sheet-shape-1.png");
        background-size: 25px 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 11px;
        top: 13px;
    }
    //
    &__tabs-input {
        width: 1px;
        opacity: 0;
    }
    &__square-rectangle-message {
        font-weight: 700;
        font-size: 0.86rem;
        padding: 0 0 0.5rem 0;
    }
    &__square-rectangle-message-icon {
        font-size: 1rem;
        color: variables.$primary-color;
    }
}
.single-product div.product .stock.out-of-stock {
    margin-bottom: 1.5rem;
}

.woocommerce div.product form.cart .button {
    background: variables.$secondary-color;
    padding: 0.9rem 1.5rem;
    border-radius: 0;
    font-weight: 400;
    font-size: 0.92rem;
}

.woocommerce-page div.product div.summary {
  width: 56%;
}
.woocommerce-page div.product div.images {
  width: 40%;
}
.custom-price-calc {
	margin-bottom: 2rem;
}
.custom-price-calc__input {
	padding: 0.5rem;
}
.single .wp-block-woocommerce-product-price {
	display: none;
}
.woocommerce div.product form.cart div.quantity {
	display: none;
}
.woocommerce-product-gallery__wrapper {
    border: 1px solid #efefef;
}
.woocommerce div.product p.price {
    color: variables.$primary-color;
    font-weight: 700;
    padding: 0.2rem 0;
}

.woocommerce div.product .qty {
    border: 1px solid #efefef;
    padding: 0.3rem 0.5rem;
    margin: 1rem 0;
}

#custom_price_display .product-page__backorder-message {
    margin: 0.8rem 0 0.1rem 0;
    display: block;
}

.ran-out-of-credits-blue {
    color: white;
    background: #40586f;
    padding: 0.5rem 0.8rem;
    border-left: 10px solid #1a252f;
    font-weight: 400;
    line-height: 1.4rem;
    font-size: 0.81rem;
}

div#order_info_box {
    display: flex;
    flex-wrap: wrap;
    background: white;
    border: 1px solid #ccc;
    padding: 0;
    clear: both;
    margin: 0.5rem 0 0 0;
}
div#order_info_box #parts_remaining {
    margin-left: 0.3rem;
}
#pdf_upload_container.hidden {
    display: none;
}
.shipping-address-form {
    &__hide {
        display: none;
    }
    &__saved {
        width: 100%;
    }
    &__saved.hide {
        display: none;
    }
    &__saved-content {
        line-height: 1.6rem;
        font-size: 0.9rem;
    }
    &__saved-edit {
        font-size: 0.8rem;
        background: variables.$secondary-color;
        padding: 0.7rem 1rem;
        color: white;
        cursor: pointer;
    }
}