@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.woocommerce-shop {
    &__info-card {
        background-color: #f5f5f4;
        padding: 15px;
        position: relative;
        z-index: 999;
        text-align:center;
        width: 100%;
    }
    &__card-title {
        padding: 0;
        min-height: 4rem;
    }
    &__card-link {
        font-size: 1.1rem;
        color: variables.$secondary-color;
        line-height: 1.67rem;
    }
    & ul.products li.product .button {
        background: variables.$primary-color;
        color: white;
        font-weight: 400;
        text-align: center;
        display:block;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: .87rem;
        padding: .9rem;
        font-weight: 300;
    }
    & ul.products li.product .button:hover {
        background: variables.$secondary-color;
    }
    & .woocommerce a.button {
        background: variables.$primary-color;
        color: white;
        font-weight: 400;
        text-align: center;
        display:block;
        width: 100%;
    }
    &__i-sku {
        font-size: 0.82rem;
    }
    &__info-sku {
        margin-top: -0.4rem;
    }
    &__i-cat {
        font-size: 0.79rem;
    }
    &__i-cat-link {
        display: inline;
    }
    & .products li:nth-child(even) &__info-card {
        background-color: #e2e2e2;
    }
    &__short-description {
        text-align: center;
        margin: 1rem 0 3.7rem 0;
        width: 100%;
    }
    &__short-description ul li {
        border-bottom: 1px solid gainsboro;
        padding: 8px 0;
        font-size: 0.85rem;
        line-height: 1.655em;
        opacity: 0.85;
    }
    &__short-description ul li:last-child {
        border-bottom: 0px solid gainsboro;
    }
    &__mask {
        //box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, .07);
        border: 0px solid #f3f3f3;
        width: 100%;
        position: relative;
        transition: all 0.13s ease-in;
    }
    &__mask:hover .woocommerce-shop__image-links {
        // border: 1px solid red;
        cursor: pointer;
        bottom: 0;
        animation-name: image_links_active;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
    &__soft-border {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 7px rgba(0, 0, 0, .15);
        z-index: 9;
    }
    // &__soft-border:hover &__img {
    //     opacity: 0;
    // }
    &__img {
        opacity: 1;
        transition: opacity 0.15s ease-in;
        width: 100%;
        z-index: 1;
        position: relative;
        margin-bottom: -0.7rem;
    }
    &__img:hover {
        opacity: 0;
    }
    &__cat-hover-image {
        position: absolute !important;
        z-index: 0;
    }
    &__image-links {
        position: absolute;
        width: 100%;
        z-index: 2;
        background: variables.$primary-color;
        color: white;
        opacity: 0.8;
        bottom: -3.8rem;
        z-index: 99;
    }
    &__image-links-link {
        color: white;
        width: 50%;
        text-align:center;
        font-size: 0.85rem;
        line-height: 1.25rem;
        padding: 0.65rem;
        border-right: 1px solid orange;
    }
    &__image-links-link:nth-child(1){
        border-right: 1px solid orange;
    }
    & .entry-header {
        display: none;
    }
    & .woocommerce ul.products {
        display: flex;
        flex-wrap: wrap;
    }
    & .woocommerce ul.products li.product .button {
        position: absolute;
        bottom: 0;
        font-size: 0.87rem;
        padding: 0.9rem;
        font-weight: 300;
        //color: rgba(255, 255, 255, 0.85);
    }
    & .woocommerce ul.products li.product .button:hover {
        background: variables.$secondary-color
    }
    & .woocommerce-products-header {
        display: none;
    }
    & .woocommerce-products-header {
        display: none;
    }
}

@keyframes image_links_active {
  from {bottom: -3.8rem;}
  to {bottom: 0rem;}
}

.woocommerce-page {
    & .woocommerce-products-header {
        display: none;
    }
    & ul.products li.product .button {
        background: variables.$primary-color;
        color: white;
        font-weight: 400;
        text-align: center;
        display:block;
        width: 100%;
        position: absolute;
        bottom: 0;
        font-size: .87rem;
        padding: .9rem;
        font-weight: 300;
    }
}

