@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.two-column-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @include breakpoints.tablet {
        grid-template-columns: repeat(2,1fr);
    }
    // align-items: flex-start;
    grid-auto-flow: dense;
}
.two-column-grid.reverse {
  direction: rtl;
}

.two-column-grid.reverse > * {
  direction: ltr; /* Keeps text normal direction */
}
.three-column-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @include breakpoints.iphone {
        grid-template-columns: repeat(2,1fr);
    }
    @include breakpoints.tablet {
        grid-template-columns: repeat(2,1fr);
    }
    @include breakpoints.laptop {
        grid-template-columns: repeat(3,1fr);
    }
    align-items: flex-start;
}
.four-column-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    @include breakpoints.tablet {
        grid-template-columns: repeat(2,1fr);
    }
    @include breakpoints.laptop {
        grid-template-columns: repeat(4,1fr);
    }
    align-items: flex-start;
}
.grid-gap-zero-point-five {
    grid-gap: 0.5rem;
}
.grid-gap-zero-point-six {
    grid-gap: 0.6rem;
}
.grid-gap-zero-point-seven {
    grid-gap: 0.7rem;
}
.grid-gap-one {
    grid-gap: 1rem;
}
.grid-gap-one-point-two {
    grid-gap: 1.2rem;
}
.grid-gap-two {
    grid-gap: 2rem;
}
.grid-gap-three {
    grid-gap: 0.8rem;
    @include breakpoints.tablet {
        grid-gap: 2rem;
    }
    @include breakpoints.laptop {
        grid-gap: 3rem;
    }
}
.grid-gap-three-point-five {
    grid-gap: 0.8rem;
    @include breakpoints.tablet {
        grid-gap: 2rem;
    }
    @include breakpoints.laptop {
        grid-gap: 3.5rem;
    }
}
.grid-gap-four {
    grid-gap: 0.8rem;
    @include breakpoints.tablet {
        grid-gap: 2rem;
    }
    @include breakpoints.laptop {
        grid-gap: 4rem;
    }
}
.grid-gap-four-point-five {
    grid-gap: 0.8rem;
    @include breakpoints.tablet {
        grid-gap: 2rem;
    }
    @include breakpoints.laptop {
        grid-gap: 4.5rem;
    }
}
.text-center {
    text-align:center;
}

// Woocommerce shop grid
.woocommerce ul.products.columns-3 li.product {
    width: 100%;
    margin-right: 0%;
    @include breakpoints.iphone {
        width: 48%;
        margin-right: 2%;
    }
    @include breakpoints.laptop {
        width: 32.333%;
        margin-right: 1%;
    }
}


// Manufacturing custom post type styles

