/* My Header Styles */

@use "../abstracts/breakpoints";
@use "../abstracts/variables";


.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    border-bottom: 1px solid #efefef;
    &__container {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        text-align: center;
        flex-direction: row-reverse;
        width: 100%;
        
        @include breakpoints.iphone {
            width: 90%;
            max-width: 1150px;
            margin: auto;
        }
        @include breakpoints.tablet {
            justify-content: space-between;
            text-align: unset;
        }
    }
    &__main {
        width: 100%;
        background: white;
        z-index: 9;
    }
    &__main-fixed {
        position: fixed;
        z-index: 9999;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    &__main-container {
        display: flex;
        padding: 1.35rem 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        @include breakpoints.tablet {
            width: 96%;
        }
        @include breakpoints.desktop {
            padding: 1.7rem 0;
            width: 92%;
        }
        max-width: 1150px;
    }
    &__main-container-fixed {
        padding: 1.3rem 0 .1rem 0;
    }
    &__main-navigation-fixed {
        width: 80.8%;
        margin-top: 0.11rem;
    }
    &__menu-right {
        margin: 0;
        position: relative;
        width: 100%;
        @include breakpoints.iphone {
            width: auto;
        }
    }
    &__menu-right li {
        display: inline;
        margin: 0 0.2rem 0 0;
        @include breakpoints.iphone {
            margin: 0 0 0 0.7rem;
        }
    }
    &__menu-right li:nth-child(2) {
        float: right;
        @include breakpoints.iphone {
            float:unset;
        }
    }
    &__menu-right li:nth-child(3) {
        float: right;
        @include breakpoints.iphone {
            float:unset;
        }
    }
    &__menu-right li a {
        color: variables.$secondary-color;
        padding: 0.7rem 0.6rem 0.7rem 0;
        font-size: 0.71rem;
        @include breakpoints.iphone-small {
            font-size: 0.79rem;
        } 
        @include breakpoints.iphone {
            padding: .1rem .35rem .15rem .15rem;
            font-size: 0.835rem;
        }
        line-height: 1rem;
    }
    &__top {
        background: #ededed;
        width: 100%;
        display: block;
        padding: 0;
        @include breakpoints.iphone {
            padding: 0.5rem 0;
        }
        font-size: 0.83rem;
        font-weight: 400;
    }
    &__contact-details {
        list-style-type: none;
        margin: 0;
        text-align: center;
        width: 100%;
        display: none;
        @include breakpoints.iphone {
            display: block;
            background: transparent;
            text-align: left;
            width: auto;
        }
    }
    &__phone, &__mail {
        display: block;
        line-height: 1.3rem;
        padding: 0.5rem 0;
        font-size: 1.05rem;
        background: variables.$primary-color;
        transition: background 0.05s ease-in;
        cursor: pointer;
        @include breakpoints.iphone {
            background: transparent;
            font-size: 0.88rem;
            display: inline;
            line-height: 1.8rem;
        }
    }
    &__mail {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        margin-bottom: 0;
        @include breakpoints.iphone {
            border-top: 0px solid rgba(255, 255, 255, 0.4);
            margin-bottom: 0;
        }
    }
    &__mail:hover {
        background: variables.$secondary-color;
        @include breakpoints.iphone {
            background: transparent;
        }
    }
    &__phone:hover {
        background: variables.$secondary-color;
        @include breakpoints.iphone {
            background: transparent;
        }
    }
    &__icon-link {
        color: white;
        @include breakpoints.iphone {
            color: #bababa;
        }
    }
    &__icon-phone, &__icon-email {
        color: white;
        @include breakpoints.iphone {
            color: #bababa;
        }
    }
    &__left {
        width: 140px;
        margin-right: 20px;
        @include breakpoints.iphone {
            width: 200px;
            margin-right: 70px;
        }
    }
    &__left-fixed {
        width: 89px;
        margin-right: 40px;
        margin-top: -0.27rem;
    }
    &__left .custom-logo-link {
        display: block;
        margin-top: 0.4rem;
        @include breakpoints.iphone {
            margin-top: 0rem;
        }
    }
    &__right {
        width: calc(100% - 160px);
        @include breakpoints.iphone {
            width: calc(100% - 270px);
        }
        margin-right: 0;
        margin-left: auto;
        position: relative;
    }
    &__right-fixed {
        width: calc(100% - 129px);
    }
    &__is-search-form-fixed {
        width: 170px;
        position: absolute;
        top: -0.255rem;
        right: 70px;
        z-index: 999;
    }
    &__icon-phone {
        margin-right: 7px;
        margin-left: 0px;
    }
    &__icon-email {
        margin-right: 7px;
        margin-left: 8px;
    }
    &__main-menu {
        margin: 0;
        padding: 0;
    }
    &__main-menu li {
        display: inline-block;
        padding: 0 0.9vw 10px 0;
    }
    &__main-menu li a {
        color: variables.$secondary-color;
    }
    &__cart-count {
        background: variables.$secondary-color;
        color: white;
        padding: .05rem .35rem;
        font-size: 0.8rem;
        font-weight: 300;
        border-radius: 50%;
        margin-left: -7px;
        position: absolute;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -4px;
        right: -9px;
    }
    &__cart-icon {
        width: 23px;
        height: auto;
    }
    &__cart-wrapper-fixed {
        top: 0.2rem;
    }
}

.is-search-icon {
    color: white;
    background: variables.$primary-color;
}
.is-form-style .is-search-submit path {
  fill: white;
}

.menu-item-top-right-credit a {
    font-size: 0.82rem;
    font-weight: 400;
    line-height: 1.25rem;
    background: transparent;
    float: right;
    @include breakpoints.iphone {
        background: variables.$primary-color;
        float: unset;
    }
    border-radius: 4px;
    padding: 0 6px 0 0;
    -webkit-transition: background 0.05s ease-in;
    transition: background 0.05s ease-in;
}
.menu-item-top-right-credit a:hover {
    color: variables.$secondary-color;
    text-decoration: none;
    background: variables.$primary-color;
}
.menu-item-top-right-credit a:before {
    font-family: 'FontAwesome';
    content: '\f058 ';
    //content: url("/wp-content/uploads/2024/07/check-circle-solid-2.svg");
    width: 11px;
    height:11px;
    font-weight: normal;
    font-style: normal; 
    display: inline-block;
    margin: 0 0.3rem;
}

@media (max-width: 1100px) {
  /* Your styles here */
    .header__is-search-form-fixed {
        width: 300px;
        top: -2.3rem;
        right: 140px;
    }
    .header__main-navigation-fixed {
        width: auto;
        margin-top: 0.1rem;
    }
    .header__left-fixed {
        margin-top: -0.35rem;
        margin-bottom: 0.65rem;
    }
}

@media (max-width: 768px) {
    .header__is-search-form-fixed {
        width: 250px;
    }
}

@media (max-width: 560px) {
    .header__is-search-form-fixed {
        width: 185px;
        display: block;
    }
    .header__left-fixed {
        margin-top: -0.6rem;
        margin-bottom: 0.6rem;
    }
}

@media (max-width: 480px) {
    .header__is-search-form-fixed {
        display: none;
    }
}
