@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.any-questions {
    padding: 3rem 0;
    background: #f0f0f0;
    &__link {
        margin: 0 0.3rem;
    }
    &__contact-details::after {
        background: variables.$primary-color;
        content: "";
        width: 30%;
        @include breakpoints.tablet {
            width: 260px;
        }
        height: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.1rem;
        margin-bottom: 1.5rem;
    }
    &__form-input-1 input {
         font-weight: 400;
    }
    &__form-input-1b input {
         font-weight: 400;
    }
    &__form-input-2 input {
         font-weight: 400;
    }
    &__form-input-2 textarea {
         font-weight: 400;
         height: 150px;
         @include breakpoints.iphone {
            height: 330px;
         }
    }
    &__form-input-1 {
        width: 100%;
        margin-right: 0%;
        @include breakpoints.iphone {
            width: 48.95%;
            margin-right: 1.05%;
        }
    }
    &__form-input-1b {
        width: 100%;
        margin-left: 0%;
        @include breakpoints.iphone {
            width: 48.95%;
            margin-left: 1.05%;
        }
        font-weight: 400;
    }
    &__form-input-2 {
        width: 100%;
        font-weight: 400;
    }
    &__form-input-1 input::placeholder {
        color: #999;
        opacity: 1;
    }
    &__form-input-1b input::placeholder {
        color: #999;
        opacity: 1;
    }
    &__form-input-2 input::placeholder {
        color: #999;
        opacity: 1;
    }
    &__form-input-2 textarea::placeholder {
        color: #999;
        opacity: 1;
    }
    &__form-input-3 p {
        display: flex;
        margin-left: -17px;
    }
    &__form-checkbox-1 {
        margin-right: 10px;
    }
    &__form-checkbox-2 {
        font-size: 0.75rem;
        line-height: 1.4rem;
        padding-right: 0;
        @include breakpoints.desktop {
            padding-right: 6rem;
        }
    }
    & form {
        display: flex;
        flex-wrap: wrap;
    }
    & form &__form-input-1 p {
        padding: 0;
        margin: 0 0 -0.8rem 0;
    }
    & form &__form-input-1b p {
        padding: 0;
        margin: 0 0 -0.8rem 0;
    }
    & form &__form-input-2 p {
        padding: 0;
        margin: 0 0 -0.8rem 0;
    }
    & form .button {
        padding: 0.6rem 2rem;
        margin-top: 1.5rem;
        text-align: left;
        float: left;
    }
    & p {
        width: 100%;
    }
    & .wpcf7 form .wpcf7-response-output {
        margin: 2em 0 1em;
        padding: 0.2em 1em;
        width: 100%;
        text-align: center;
    }
    & form.invalid .wpcf7-not-valid {
        border: 1px solid variables.$primary-color;
        box-shadow: 0px 0px 10px #ccc;
    }
    & form.invalid .wpcf7-not-valid-tip {
        background: variables.$primary-color;
        color: white;
        display: inline-block;
        width: auto;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.15rem;
        text-align: center;
        border-radius: 16px;
        padding: 0 5px;
        font-weight: 700;
        position: absolute;
        top: 0px;
        right: 1rem;
    }
    & form.invalid &__form-input-message .wpcf7-not-valid-tip {
        background: variables.$primary-color;
        color: white;
        display: inline-block;
        width: auto;
        height: auto;
        font-size: 0.8rem;
        line-height: 1.15rem;
        text-align: center;
        border-radius: 16px;
        padding: 0 5px;
        font-weight: 700;
        position: absolute;
        top: -1rem;
        right: 1rem;
    }
}


