.banner {
    width: 100%;
    height: auto;
    position: relative;
    &__img {
        width: 100%;
        object-fit: cover;
        height: 460px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 7rem 0;
    }
    &__content::before {
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.57);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &__heading {
        width: 100%;
        position: relative;
        padding: 0;
        line-height: 60px;
    }
    &__subheading {
        width: 100%;
        position: relative;
        padding: 0;
    }
    &__btn {
        position: relative;
    }
    &__text {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        z-index: 99;
    }
}