@use "../abstracts/breakpoints";
@use "../abstracts/variables";

#nav-icon4 {
  width: 38px;
  height: 34px;
  position: relative;
  margin: 0;
  border-radius: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: variables.$primary-color;
  position: absolute;
  right: 0;
  display: block;
   @include breakpoints.laptop {
    display: none;
   }
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 60%;
  background: white;
  border-radius: 0;
  opacity: 1;
  left: 7px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

// #nav-icon4.open span:nth-child(1) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
//   top: -3px;
//   left: 8px;
// }

// #nav-icon4.open span:nth-child(2) {
//   width: 0%;
//   opacity: 0;
// }

// #nav-icon4.open span:nth-child(3) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   top: 24px;
//   left: 8px;
// }