@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.counter {
    padding: 2.8rem 0 3.4rem 0;
    background-image: url('/wp-content/uploads/2025/11/shutterstock_218519482-dark.jpg');
    background-size: cover;
    background-position: center;
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__card {
        width: 50%;
        @include breakpoints.laptop {
            width: 25%;
        }
        height: auto;
        position: relative;
    }
    &__heading {
        text-align: center;
        color: white;
        font-size: 0.85rem;
        font-weight: 300;
        @include breakpoints.desktop {
            font-size: 0.9rem;
        }
        padding: 0.45rem 0;
    }
    &__no-of-products {
        font-size: 3.0rem;
        @include breakpoints.desktop {
            font-size: 3.3rem;
        }
        margin-top: 20px;
        display: block;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
    }
    &__satisfied {
        color: white;
        font-size: 3.0rem;
        @include breakpoints.desktop {
            font-size: 3.3rem;
        }
        margin-top: 20px;
        display: block;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
    }
    &__products-added {
        color: white;
        font-size: 3.0rem;
        @include breakpoints.desktop {
            font-size: 3.3rem;
        }
        margin-top: 20px;
        display: block;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
    }
    &__satisfied {
        color: white;
        font-size: 3.0rem;
        @include breakpoints.desktop {
            font-size: 3.3rem;
        }
        margin-top: 20px;
        display: block;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
    }
    &__no-of-products {
        color: white;
        font-size: 3.0rem;
        @include breakpoints.desktop {
            font-size: 3.3rem;
        }
        margin-top: 20px;
        display: block;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
    }
    &__cut-parts {
        color: white;
        font-size: 3.0rem;
        @include breakpoints.desktop {
            font-size: 3.3rem;
        }
        margin-top: 20px;
        display: block;
        margin-bottom: 0px;
        text-align: center;
        font-weight: 600;
    }
    &__small {
        color: white;
        font-weight: 700;
        position: absolute;
        bottom: 3rem;
        margin-right: -3.9rem;
        right: 45%;
    }
}