@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.delivery-options-shipment {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    &__title {
        font-size:0.77rem;
        line-height: 0.9rem;
        @include breakpoints.iphone {
            font-size:0.86rem;
            line-height: 1.1rem;
        }
        font-weight:600;
        background: white;
        padding: 10px;
        vertical-align: middle;
        border-right: 1px solid #ddd;
    }
    &__title:nth-child(1){
        width: 250px;
    }
    &__display &__display-inner {
        font-size: 0.77rem;
        @include breakpoints.iphone {
            font-size: 0.87rem;
        }
        background: variables.$secondary-color;
        padding: 1.2rem;
        color: white;
        text-align:center;
        font-weight: 300;
    }
    &__display-results {
        background: variables.$secondary-color;
        color: white;
        text-align:center;
        font-weight: 300;
        font-size: 0.87rem;
        line-height: 1.2rem;
        vertical-align: middle;
        border-bottom: 1px solid #45505c;
        border-right: 1px solid #45505c;
    }
    &__delete {
        color: white;
    }
}