@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.delivery-options-modal {
    background: white;
    width: 90%;
    left: 5%;
    margin-left: 0px;
    @include breakpoints.tablet {
        width: 700px;
        left: 50%;
        margin-left: -350px;
    }
    border-radius: 6px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    top: 100%;
    margin-top: -360px;
    position: relative;
    height: auto;
    transition: all 0.3s ease-in;
    &.active {
        top: 62%;
        @include breakpoints.iphone {
            top: 55%;
        }
    }
    &__footer {
        display: none;
        @include breakpoints.tablet {
            display: block;
        }
    }
    &__outer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none; /* Hidden by default */
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    &__header {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 1.1rem 0.5rem 1.3rem;
        @include breakpoints.iphone {
            padding: 1rem 1.55rem 1rem 2rem;
        }
        background: variables.$secondary-color;
        text-align: right;
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;
    }
    &__content {
        padding: 1.2rem 1.2rem 1.2rem 1.2rem;
        @include breakpoints.iphone {
            padding: 2.2rem 2rem 2.8rem 2rem;
        }
        background: #f1f1f1;
    }
    &__info {
        color: variables.$primary-color;
        background: #ffe2b8;
        display: block;
        font-size: 10px;
        margin-bottom: 0.4rem;
        @include breakpoints.iphone {
            font-size: 12px;
            margin-bottom: 1rem;
        }
        padding: 3px 10px;
        font-weight: 700;
    }
    &__title {
        font-size: 1.15rem;
        margin-bottom: 0.4rem;
        color: white;
        padding: 0;
        margin: 0;
    }
    &__close-btn {
        margin-left: auto;
    }
    &__icon-close {
        font-size: 1.6rem;
        color: #637180;
        margin-top: 0.3rem;
    }
    &__form-field {
        border: 1px solid #ebebeb;
        width: 100%;
        padding: 0.3rem;
    }
    &__form-field::placeholder {
        color: #666;
        opacity: 0.5;
    }
    &__form-field:focus-visible {
        outline: 0;
    }
    &__label {
        font-weight: 700;
    }
    &__small-text {
            font-size: .75rem;
            line-height: 1.25rem;
    }
    &__submit {
        background: variables.$primary-color;
        color: white;
        text-transform: uppercase;
        padding: 0.5rem 1.5rem;
        margin-top: 1.5rem;
        display: none;
        font-size: 0.83rem;
        @include breakpoints.iphone {
            font-size: 1rem;
        }
    }
    &__submit.show {
        display: block;
    }
}

