@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.featured-icons {
    margin: 2.5rem 0 2.65rem 0;
    @include breakpoints.iphone {
        margin: 3.8rem 0 3.65rem 0;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1.8rem;
        padding: 0;
        @include breakpoints.tablet {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 3rem;
            padding: 0 4.8rem;
        }
        @include breakpoints.laptop {
            grid-template-columns: repeat(4,1fr);
            grid-gap: 3rem;
            padding: 0;
        }
        align-items: flex-start;
    }
    &__column {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__icon-left {
        width: 55px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.05rem;
        @include breakpoints.iphone {
            margin-bottom: 1.8rem;
            width: 64px;
        }
        @include breakpoints.tablet {
            width: 21%;
            margin-right: 10%;
            margin-left: 0;
            margin-bottom: 0;
        }
        @include breakpoints.laptop {
            width: 26%;
            margin-right: 10%;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    &__content-right {
        width: 100%;
        text-align: center;
        @include breakpoints.tablet {
            width: 69%;
            text-align:left;
        }
        @include breakpoints.laptop {
            width: 64%;
            text-align:left;
        }
        padding: 0 0.3rem;
    }
    &__heading {
        font-weight: 700;
        padding: 0;
        line-height: 1rem;
        font-size: 0.84rem;
        margin-bottom:0.3rem;
    }
    &__content {
        font-size: 0.81rem;
        @include breakpoints.tablet {
            font-size: 0.84rem;
        }
        line-height: 1.45rem;
        padding: 0;
    }
}