.featured-products {
    padding: 1.8rem 0;
    margin-bottom: 2.5rem;
    &__content li .woocommerce-shop__mask a {
        width: 100%;
    }
    &__content li .woocommerce-shop__mask a img {
        width: 100%;
        height: auto;
    }
    &__content li .woocommerce-shop__short-description {
        display: none;
    }
    &__content li .woocommerce-shop__btn {
        display: block;
        display: block;
        padding: 0.5rem;
        margin-top: 0.7rem;
    }
    &__content li .woocommerce-loop-product__title {
        font-size: 1.2rem;
        line-height: 1.55rem;
        color: #2d3e4f;
        display: none;
    }
    &__content li:nth-child(odd) .woocommerce-shop__info-card {
        background: #e2e2e2 ;
    }
    & .woocommerce-shop__info-card {
        min-height: 160px;
    }
}