
@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.woocommerce form .form-row label {
    font-weight: 600;
}
.woocommerce form .form-row .input-text, .woocommerce form .form-row select {
    border: 1px solid variables.$grey-300;
    color: #000;
}
.select2-container .select2-dropdown, .select2-container .select2-selection {
    border: 1px solid variables.$grey-300;
}
.woocommerce form .form-row .input-text:focus-visible, .woocommerce form .form-row select:focus-visible {
    outline: 2px solid variables.$primary-color;
}
.woocommerce form .form-row .input-text::placeholder {
    color: #999;
    opacity: 1; /* important for Firefox */
}

// Custom checkboxes

.styled-checkbox {
  position: absolute;
  opacity: 0;
  z-index: 1;
  padding: 4px;
  margin-top: 8px;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: 600;

    &:before {
      content: '';
      margin-right: 5px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      margin-top: 1px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    }
  }

  &:hover + label:before {
    background: #ef9003;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + label {
    &:before {
      background: #ef9003;
    }

    &:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 10px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;

    &:before {
      box-shadow: none;
      background: white;
    }
  }
}
// End custom checkboxes

// Custom checkboxes cofc

.styled-checkbox-cofc {
  position: absolute;
  opacity: 0;
  z-index: 1;
  padding: 4px;
  margin-top: 8px;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: 600;

    &:before {
      content: '';
      margin-right: 12px;
      display: inline-block;
      vertical-align: text-top;
      width: 18px;
      height: 18px;
      background: white;
      margin-top: 1px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    }
  }

  &:hover + label:before {
    background: #ef9003;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.12);
  }

  &:checked + label {
    &:before {
      background: #ef9003;
    }

    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 12px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;

    &:before {
      box-shadow: none;
      background: white;
    }
  }
}
// End custom checkboxes cofc

// Custom category filter checkboxes

.woof_checkbox_term {
  position: absolute;
  opacity: 0;
  z-index: 1;
  padding: 4px;
  margin-top: 8px;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;

    &:before {
      content: '';
      margin-right: 5px;
      display: inline-block;
      vertical-align: text-top;
      width: 16px;
      height: 16px;
      background: white;
      margin-top: 1px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    }
  }

  &:hover + label:before {
    background: #ef9003;
  }

  &:focus + label:before {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.12);
  }

  &:checked + label {
    &:before {
      background: #ef9003;
    }

    &:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 8px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow:
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;

    &:before {
      box-shadow: none;
      background: white;
    }
  }
}

label.woof_checkbox_label {
  margin: 0;
}

ul.woof_list {
  margin: -7px 0 2px 0 !important;
}
// Custom category filter checkboxes

// Custom tool tip
.cfc__tooltip {
    font-family: helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: #2980b9;
    padding: 0 0.24rem;
    border-radius: 50%;
    font-weight: 300;
    font-size: 0.89rem;
    display: inline;
    margin-left: 4px;
    line-height: 1.1rem;
}

.cfc__tooltip::before {
    content: attr(data-tooltip);
    position: absolute;
    background: #333;
    color: #fff;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 10.5px;
    line-height: 13px;
    white-space: normal;
    width: 130px;
    @include breakpoints.iphone {
        font-size: 12px;
        line-height: 15px;
        width: 200px;
    }
    top: -10px;
    left: 110%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    z-index: 10;
}

.cfc__tooltip:hover::before {
  opacity: 0.9;
  visibility: visible;
}

.cfc__tooltip { cursor: help; font-weight: bold; }
// Custom tool tip