@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.help-with-ordering {
    width: 90%;
    left: 5%;
    @include breakpoints.tablet {
        width: 650px;
        left: 50%;
        margin-left: -325px;
    }
    @include breakpoints.laptop {
        width: 800px;
        left: 50%;
        margin-left: -400px;
    }
    &__iframe {
        width: 100%;
        height: 200px;
        @include breakpoints.iphone {
            width: 100%;
            height: 350px;
        }
        @include breakpoints.tablet {
            width: 100%;
            height: 334px;
        }
        @include breakpoints.laptop {
            width: 100%;
            height: 418px;
        }
    }
    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        color: white;
        padding: 0;
        font-size: 1.15rem;
    }
}