@use "../abstracts/breakpoints";
@use "../abstracts/variables";

/* Base styles for the main nav */
#primary-menu {
    justify-content: space-between;
    list-style: none;
    margin: 0 3rem 0 0;
    display: none;
    @include breakpoints.laptop {
      margin: 0 3rem 0 0;
      display: flex;
    }
    @include breakpoints.desktop {
      margin: 0 5rem 0 0;
    }
    padding: 0;
    & li {
      position: relative;
      transition: all 0.1s ease-in;
    }
    & li a:hover {
      color: variables.$primary-color;
    }
    & .sub-menu {
      display: none;
      position: absolute;
      background: #f8f8f8 !important;
      border-left: 0px solid #efefef;
      border-right: 0px solid #efefef;
      border-bottom: 0px solid #efefef;
      z-index: 9999;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
      margin-top: -1px;
    }
    & .sub-menu li {
      border-top: 1px solid #efefef;
      width: 100%;
    }
    & li.menu-item-281 .sub-menu li {
      border-top: 1px solid #efefef;
      width: 100%;
    }
    & li.menu-item-335 .sub-menu li {
      border-top: 1px solid #efefef;
      width: 150px;
    }
    & .sub-menu li a {
      font-size: 0.88rem;
    }
    & .sub-menu li:hover {
      background: rgba(0, 0, 0, .06);
      width: 100%;
    }
    & .sub-menu li a:hover {
      color: variables.$primary-color;
    }
    & .second-tier {
      background: #f8f8f8;
      width: 100%;
      //box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    }
    // & .second-tier:hover {
    //   background: rgba(0, 0, 0, .06);
    // }
    & li:hover > .sub-menu {
      display: block;
      top: 100%;
      left: 0;
    }
    & .sub-menu li:hover > .sub-menu {
      top: 0;
      left: 100%;
    }
    & li a {
      font-size: 0.85rem;
      display: block;
      padding: 0px 9px 8px 0px;
      @include breakpoints.laptop {
        font-size: 0.8rem;
        padding: 0px 0.5vw 8px 0px;
      }
      @include breakpoints.desktop {
        font-size: 0.92rem;
        padding: 0px 0.9vw 10px 0px;
      }
      text-decoration: none;
      color: variables.$secondary-color;
      white-space: nowrap;
    }
    & .menu-item-has-children ul.sub-menu {
      background: pink;
      // padding: 10px 15px;
    }
    & .menu-item-has-children ul.sub-menu li {
      padding: 0 0.8vw;
      position: relative;
    }
    & .menu-item-has-children ul.sub-menu li a {
      padding: 8px 15px 8px 0px;
    }
    & .menu-item-has-children .sub-menu .menu-item-has-children::before {
      content: ">";
      position: absolute;
      right: 10px;
      top: 6.5px;
      opacity: 0.55;
    }
    // & .menu-item-has-children > li ul {
    //   background: blue;
    //   width: 100%;
    // }
}





/* Optional: hover effect */
// #primary-menu li a:hover {
//     background-color: #f5f5f5;
// }


/*
.main-navigation .menu-menu-1-container li ul {
  position: absolute;
  left: 0;
  top: 2.8rem;
  z-index: 205;
  margin: 0;
  display: none;
  background-image: url(../images/box_shadow.png);
  background-repeat: repeat-x;
  background-position: left top;
  background: #efefef;
  width: 250px;
}

.main-navigation .menu-menu-1-container li ul li a {
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.main-navigation .menu-menu-1-container li ul li ul {
  position: absolute;
  left: 200px;
  top: 0;
  z-index: 204;
}

.main-navigation .menu-menu-1-container > li ul {
  border: 1px solid #eee;
}

.main-navigation .menu-menu-1-container > li ul {
  background-color: #ffffff;
}

.main-navigation .menu-menu-1-container li > ul {
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.03);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.03);
}

#primary-menu li > .sub-menu li .sub-menu {
  max-height: 454px;
  overflow: scroll;
}
*/


/* 1st level */
// .main-navigation .menu-menu-1-container{z-index:202}

// /* 2nd level */
// .main-navigation .menu-menu-1-container li ul{position:absolute;left:0;top:100%;z-index:205;margin:0;display:block;background-image:url(../images/box_shadow.png);background-repeat:repeat-x;background-position:left top}
// .main-navigation .menu-menu-1-container li > ul{box-shadow:2px 2px 2px 0 rgba(0,0,0,0.03);-webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0,0.03)}
// .main-navigation .menu-menu-1-container li ul li {
//     padding:0;
//     width:200px;
//     position:relative;
//     font-weight:400;
//     background: white;
// }
// .main-navigation .menu-menu-1-container li ul li a { 
//     padding:10px 20px;
//     display:block;
//     border-bottom:1px solid rgba(0,0,0,0.09);
//     border-left:1px solid rgba(0,0,0,0.09)
// }
// .main-navigation .menu-menu-1-container li ul li a span{display:inline-block;position:relative}
// .main-navigation .menu-menu-1-container li ul li a .menu-arrow{position:absolute;right:7px;top:11px;font-size:12px;color:rgba(0,0,0,0.35)}
// .main-navigation .menu-menu-1-container > li ul li a:hover,.main-navigation .menu-menu-1-container > li ul li.hover > a{text-decoration:none;background:rgba(0,0,0,.06)}
// .main-navigation .menu-menu-1-container > li ul {
//   background-color: #efefef;
// }