.error-404 {
    &__title {
        color: white;
        background-image: url('http://localhost:8888/wp-content/uploads/2025/11/header-place-holder-image.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5rem 0;
    }
}