.partner-brand {
    &__item {
        padding: 2.6rem;
        background: white;
    }
    &__item img {
        width: 100%;
        transform: scale(1);
        transition: transform 0.15s ease-in;
    }
     &__item img:hover {
        transform: scale(1.05);
     }
}