@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.popular-products-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4.2rem;
    &__item {
        width: 100%;
        @include breakpoints.iphone {
            width: 48%;
        }
        @include breakpoints.laptop {
            width: 23.1%;
        }
        height: auto;
        //border: 1px solid #eeeeea;
        margin: 0px 0.8%;
        min-height: auto;
        @include breakpoints.iphone {
            min-height: 450px;
        }
        @include breakpoints.laptop {
            min-height: 470px;
        }
        @include breakpoints.desktop {
            min-height: 490px;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__thumb {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }
    &__thumb .image_links {
        bottom: -3.8rem;
        transition: all 0.15s ease-in;
    }
    &__thumb .image_links {
        width: 100%;
    }
    &__thumb a {
        display: none !important;
    }
    &__thumb:hover .image_links {
        bottom: 0;
    }
    &__thumb img {
        width: 100%;
        height: auto;
        margin-bottom: -0.5rem;
    }
    &__mask {
        box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, .1);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    &__details {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-height: 140px;
        width: auto;
        text-align:center;
        background: #e2e2e2;
        padding: 2px 20px;
    }
    &__details.lighter {
        background: #f5f5f4;
    }
    &__title {
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 500;
    }
    &__sku {
        font-size: 12px;
        margin: 0;
    }
    &__heading {
        font-size: 35px;
        line-height: 45px;
        text-align: center;
        margin-bottom: 1.7rem;
        margin-top: 5.35rem;
    }
    &__btn {
        font-weight: 300;
        display: block;
        text-align: center;
        margin-top: 1rem;
        padding: 14px 20px;
        border-radius: 0;
    }
    &__btn:hover {
        background: variables.$secondary-color;
    }
    & .cat-hover-image {
        position: absolute;
        opacity: 0;
    }
    & .cat-hover-image:hover {
        opacity: 1;
    }
    & .image_links {
        background: rgba(241, 144, 0, 0.8);
        position: absolute;
        /*bottom: -3rem;*/
        left: 0;
        right: 0;
        z-index: 10;
    }
    & .image_links:hover .cat-hover-image {
        opacity: 1;
    }
    & .image_links.double a:first-child {
        -webkit-box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, .2);
        box-shadow: inset -1px 0 0 0 rgba(255, 255, 255, .2);
    }
    & .image_links.double a {
        width: 50%;
        display: inline-block !important;
        font-size: 13px;
        line-height: 18px;
        padding: 12px 0px;
        text-align: center;
        color: white;
    }
    & .image_links.double a:hover {
        text-decoration: none;
        background: white;
        background: variables.$primary-color;
    }
}