@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.request-material {
    text-align:center;
    padding: 1rem 0 1.8rem 0;
    background: #f0f0f0;
    @include breakpoints.laptop {
        padding: 4rem 0;
    }
    &__container {
        padding: 0 1rem;
        @include breakpoints.tablet {
            padding: 0 3.5rem;
        }
        @include breakpoints.laptop {
            padding: 0 7rem;
        }
    }
    &__heading {
        font-size: 25.5px;
        line-height: 29px;
        @include breakpoints.tablet {
            font-size: 44px;
            line-height: 50px
        } 
    }
    &__heading::after {
        background: variables.$primary-color;
        content: "";
        width: 30%;
        @include breakpoints.tablet {
            width: 260px;
        }
        height: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.1rem;
        margin-bottom: 1.5rem;
    }
    &__text {
        text-align: center;
        max-width: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    &__content {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}