@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.sectors {
    padding: 3rem 0;
    text-align: center;
    &__subtitle::after {
        background: variables.$primary-color;
        content: "";
        width: 260px;
        height: 1px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__content {
        padding: 0;
        @include breakpoints.tablet {
            padding: 0 3rem;
        }
        @include breakpoints.laptop {
            padding: 0;
        }
    }
    &__card {
        position: relative;
        overflow: hidden;
    }
    &__card:hover &__card-content {
        bottom:0rem;
        background: rgba(45, 62, 79, 0.5);
        //background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.65) 99%,rgba(0,0,0,.65) 100%);
    }
    &__card-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        text-align: center;
        bottom: -15rem;
        padding: 2rem 1.2rem 2rem 1.2rem;
        min-height: 352px;
        left: 0;
        right: 0;
        color: white;
        z-index: 10;
        background: none;
        transition: bottom .35s ease-in;
    }
    &__card-content:hover {
        bottom: 0rem;
        background: rgba(45,62,79,.5);
    }
    &__card-img {
        width: 100%;
    }
    &__card-img:hover &__card-content {
        bottom: 0rem;
        background: rgba(45,62,79,.5);
    }
    &__btn {
        color: white;
        background: variables.$primary-color;
        padding: 0.8rem 1.5rem;
        border-radius: 0.25rem;
    }
    &__content-text {
        font-size: 0.85rem;
        line-height: 1.3rem;
    }
}