@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.testimonials {
    padding: 2.6rem 0;
    background: variables.$secondary-color;
    text-align: center;
    &__heading {
        color: variables.$primary-color;
        font-size: 2.8rem;
        padding: 0;
    }
    &__subheading {
        color: white;
        font-size: 2.2em;
        padding: 0;
        margin-bottom: 3.5rem;
    }
    &__quote {
        color: white;
        font-style: italic;
        font-size: 0.98rem;
        line-height: 1.5rem;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 2rem;
    }
    &__title {
        color: variables.$primary-color;
    }
}

.owl-dots {
    display: flex;
    justify-content: center;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: variables.$primary-color;
    width: 10px;
    height: 10px;
    margin: 5px 7px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}