@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.wide-range-of-services {
    padding: 3.3rem 0 3.1rem 0;
    @include breakpoints.iphone {
        padding: 2.5rem 0 5rem 0;
    }
    background-image: url('https://materials-direct.com/wp-content/uploads/2024/07/shutterstock_218519482-dark.jpg?id=39228');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    &__heading-large {
        color: variables.$primary-color;
        font-size: 1.99rem;
        line-height: 2.7rem;
        @include breakpoints.tablet {
            font-size: 2.05rem;
            line-height: 2.8rem;
        }
        @include breakpoints.desktop {
            font-size: 2.75rem;
            line-height: 3.2rem;
        }
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 0.8rem;
    }
    &__heading {
        padding: 0 1rem;
        font-weight: 300;
        margin-bottom: 1rem;
        font-size: 1.7rem;
        line-height: 2.6rem;
        @include breakpoints.iphone {
        margin-bottom: 3rem;
        }
        @include breakpoints.tablet {
            font-size: 1.8rem;
            line-height: 2.7rem;
        }
        @include breakpoints.desktop {
            font-size: 2.17rem;
            line-height: 2.9rem;
        }
        padding-left: 1rem;
        padding-right: 1rem;
    }
    &__card {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.2rem;
    }
    &__card-icon {
        width: 100%;
        margin-right: 0;
        @include breakpoints.iphone {
            width: 16%;
            margin-right: 6%;
        }
    }
    &__card-icon-img {
        transition: all 0.13s ease-in;
        width: 50px;
        margin-bottom: 0.2rem;
        margin-top: 0.75rem;
        @include breakpoints.iphone {
            margin-bottom: 1.5rem;
            margin-top: 1.2rem;
            width: 100%;
            margin-bottom: 0;
        }
        height: auto;
    }
    &__card-content {
        width: 100%;
        text-align: center;
        color: white;
        padding: 0 0.8rem;
        @include breakpoints.iphone {
            width: 78%;
            text-align: left;
            padding: 0;
        }
    }
    &__card-content::before {
        content: "";
        width: 0%;
        height: 2px;
        background: variables.$secondary-color;
        margin: 5px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.13s ease-in;
    }
    &__card-content-heading {
        font-size: 1.3rem;
        line-height: 1.5rem;
        color:white;
        @include breakpoints.laptop {
            font-size: 1.45rem;
            line-height: 1.6rem;
        }
        @include breakpoints.desktop {
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
        padding: 0;
        margin-bottom: 1rem;
        font-weight: 300;
    }
    &__card-content-text {
        font-weight: 300;
        font-size: 0.87rem;
        line-height: 1.65rem;
        opacity: 0.9;
    }
    &__link {
        transition: all 0.13s ease-in;
    }
    &__link:hover &__card-icon-img {
        margin-top: 0.8rem;
    }
    &__link:hover &__card-content::before {
        width: 40%;
    }
}