@use "../abstracts/breakpoints";
@use "../abstracts/variables";

.woocommerce-NoticeGroup {
    & .woocommerce-error a {
        color: variables.$secondary-color;
    }
}
.woocommerce-order-received .woocommerce-thankyou-order-received {
    font-size: 1rem;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    clear: both;
    padding: 25px;
    margin-bottom: 1.3rem;
}
.woocommerce-message {
    outline: 0;
}